.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  /* border: 1px solid white; */
}

.game-name {
  color: rgb(200, 200, 200);
}

.theme {
  color: grey;
  font-size: large;
}

.Status {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 25px;
  color: white;
  border-radius: 10px;
  background-color: #0fb04d;
  /* border: 1px solid white; */
}

.Status span {
  padding: 5px;
}

.result {
  font-size: x-large;
}

.follow-up {
  font-size: large;
}

.languages {
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  border-radius: 10px;
}

.Languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  /* width: 350px; */
  /* border: 1px solid white; */
}