.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.game-name {
  color: rgb(200, 200, 200);
}

.theme {
  color: grey;
  font-size: large;
}

.Status {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 25px;
  color: white;
  border-radius: 10px;
  background-color: #0fb04d;
}

.Status span {
  padding: 5px;
}

.result {
  font-size: x-large;
}

.follow-up {
  font-size: large;
}

.Languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  max-width: 500px;
  flex-wrap: wrap;
}

.languages {
  height: 40px;
  display: flex;
  margin: 7px;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  border-radius: 10px;
}

.Word {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-inline: 7px;
  border-bottom: 2px solid grey;
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: large;
}

.Keyboard {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 13px;
}

.Keyboard > button {
  height: 70px;
  width: 70px;
  color: black;
  background-color: orange;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.Keyboard > button:nth-child(21) {
  grid-column-start: 3;
}

.Keyboard > button.correct {
  background-color: #0fb04d;
}

.Keyboard > button.wrong {
  background-color: rgb(193, 21, 21);
}

.NewGame {
  margin: 30px;
  padding-bottom: 20px;
}

.new-game-button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-size:medium;
  font-weight: bolder;
  color: black;
  background-color: rgb(32, 158, 208);
}

